$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

@import "helpers";
@import "igal-styles";
@import "animations";
/*-----------------General Styles-----------------*/

.testing {
  color: red;
}

body {
  margin: 0;
  padding: 0;
} // Space out content a bit

.container {
  height: 1440px;
  margin: 0;
  padding: 0;
  width: 2560px;  
} // Size of the kiosk display

header {
  background-color: black;
}

.main-wrapper {
  height: 1352px;
}

.content-wrapper {
  padding: 0px;
  margin: 0px;
  height: 1352px;
}

#page-title {
  color: white;
  display: inline;
  font-size: 50px;
  font-family: Aller-Regular;
  left: 40px;  
  position: relative;
  text-transform: uppercase;
  top: 5px;
  vertical-align: middle;
}

.icon {
  display: inline-block; 
}

.love-icon {
  font-family: Aller-Regular;
  font-size: 14px;
  height: 45px;
  line-height: 40px;
  vertical-align: middle;  
  width: 50px;
}

.map-icon {
  background-image: url(../images/globe-icon.png);
  background-repeat: no-repeat;
  height: 56px;
  width: 56px;
  vertical-align: middle;
}

.button-label {
  vertical-align: middle;
  margin-left: 10px; 
}

.horizontal-list {
  padding-left: 0px;
}

.horizontal-list-item {
  display: inline;
}

ul {
  list-style: none;
}

/*-----------------Videogular Controls-----------------*/

.container {
  videogular {
    vg-controls {
      #custom-play-pause-ui {
        border: 8px solid white;
        border-radius: 50%;
        display: inline;
        font-size: 75px;
        height: 130px;    
        width: 130px;
      }
      #controls-container {
        background-color: rgba(255,255,255,0.5);
        opacity: 1;
      }
    }
  }
} //I had to wrap this in container class to overwrite the styles in viseoguler.css

/*-----------------Contextual Page Styles-----------------*/

/*Nation Page Styles*/
#nation-page {
  background-image: url(../images/mountain-bg.png);
  background-repeat: no-repeat;

  .media-label {
    font-size: 32px;
    line-height: 40px;
    padding-left: 30px;
    text-transform: capitalize;
  }

  .love-icon {
    background-image: url(../images/heart-nation.png);
    background-repeat: no-repeat;
    font-size: 12px;
    height: 36px;
    width: 41px;
  }
}

#featured-media {
  margin-top: 220px;
}

.main-nav, .main-nav-item {
  padding: 0;

  .media-preview-image {
      height: 412px;
      //background-image: url(../images/nav-item.png);
      background-repeat: no-repeat;
  } 
}

.nav-item-label {
  color: white;
  font-family: Aller-Regular;
  font-size: 30px;
  height: 50%;
  margin-top: 80px;
  padding-top: 32%;
  text-align: center;
  text-transform: uppercase;
}

.the-app-icon {
  background-image: url(../images/the-app-icon.png);
  background-repeat: no-repeat;
  background-position: 272px 20px;
}

.video-call-icon {
  background-image: url(../images/video-call-icon.png);
  background-repeat: no-repeat;
  background-position: 238px 20px;
}

.soundscape-icon {
  background-image: url(../images/soundscape-icon.png);
  background-repeat: no-repeat;
  background-position: 220px 20px;  
}

.sort-icon {
  background-image: url(../images/sort-icon.png);
  background-repeat: no-repeat;
  background-position: 235px 20px;  
}

/*----Soundscape Page Styles----*/

#soundscape-page {
  background-image: url(../images/mountain-bg.png);
  background-repeat: no-repeat;
  padding-top: 40px;

  input.form-control {
    border: none;
    box-shadow: none;
    display: inline-block;
    height: 2px;
    margin-top: 34px;
    -webkit-appearance: none;
    padding: 0;
  }

  input.form-control:focus {
    border-color: transparent;
  }

}

.sound {
  border: 1px solid white;
  height: 300px;
}

.sound-file {
  padding: 40px 81px;
}

.sound-controller {
  background-image: url(../images/sound-control.png);
  background-repeat: no-repeat;
  margin-top: 25px;
  height: 25px;
}


/*----Slide Show Page Styles----*/

#slide-show-page {
  .alternate-font-header {
    text-align: center;
  }
}

#explore-header {
  color: white;
  background-color: #f71919;
  left: 785px;
  padding: 20px 0px;
  position: absolute;
  top: 1255px;
  width: 1000px;
  z-index: 5; 

  .promo-title {
    text-align: center; 
  }  

  &:hover {
    background-color:white;
    color: #f71919;
  }
}

/*----Tour Page Styles----*/

#tour-page {
  background-image: url(../images/wall-bg.png);

  .media-toggle-list {
    background-color: transparent;
    height: 100%;
  }

  .side-content {
    padding: 0;
  }

  .media-toggle-item {
    background-color: transparent;
    padding: 70px;
  }

  .media-preview-image {
    height: 245px;
  }

  .media-label {
    font-size: 26px;
    text-transform: capitalize;
  }

  .love-it {
    margin-right: 20px;
  }

  .love-icon {
    background-image: url("../images/heart-tour.png");
    background-repeat: no-repeat;
    background-position-x: 1px;
    font-size: 10px;
    line-height: 27px;
    height: 27px;
    vertical-align: top;
    width: 32px;  
  }

  .text {
    padding: 0 60px;
    margin-bottom: 230px;
  }
}

.add-media-icon {
  background-image: url("../images/add-icon.png");
  background-repeat: no-repeat;
  height: 75px;
  width: 75px;
}

#add-media {
  display: block;
  margin: 0 auto;
  padding-top: 85px;
}

.connection-status {
  background-color: #47d0bc;
  color: white;
  font-family: Aller-Bold;
  font-size: 32px;
  margin: 0;
  text-transform: uppercase;
  text-align: center;
  padding: 10px;
}

.first-tour-instruction {
  color: white;
  font-family: Aller-bold;
  font-size: 36px;
  margin-top: 100px;
  margin-bottom: 20px;
  text-transform: uppercase;
  text-align: center;
}

.second-tour-instruction {
  color: white;
  font-family: Aller-Regular;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 70px;
}

.phone-wrapper {
  position: relative;
}

.qr-phone {
  display: block;
  margin: 0 auto;
}

.disconnect {
  position: absolute;
  top: 90px;
  left: 171px;
}

/*----Intro Page Styles----*/
#intro-wrapper {
  background-image: url("../images/intro_bg.png");
  background-repeat: no-repeat;
  height: 100%;

  videogular {
    height: 1080px;
    margin: 0 auto;
    width: 1922px;

    #custom-play-pause-ui {
      position: absolute;
      bottom: 500px;
      left: 914px;
    }
  }
}

.video-wrapper {
  margin: 0 auto;
  padding-top: 165px;
}

#skip {
  display: block; 
  margin: 0 auto;  
}

/*----Map Page----*/
#map-page {
  .love-icon {
    background-image: url(../images/heart-map.png);
    background-repeat: no-repeat;
    background-position: 8px 6px;
    font-size: 10px;
  }
}

.full-screen-map {
  background-image: url(../images/map-colored.png);
  background-repeat: no-repeat;
  height: 100%;
  padding: 0;

  .love-it {
    float: none;
    margin-right: 0;
    margin-left: 92%;
  }
}

.map-overlay {
  background-color: rgba(2,2,2,0.7);
  height: 100%;  
  padding: 0;
}

.map-overlay-content {
  padding: 40px 60px;
}

.map-overlay-img {
  background-image: url(../images/map-overlay-image.png);
  background-repeat: no-repeat;
  height: 408px;
  margin-bottom: 20px;
}

.map-overlay-title {
  color: white;
  font-family: Aller-Bold;
  font-size: 36px;
  margin-top: 40px;
  margin-bottom: 20px;
  text-align: left;
  text-transform: capitalize;
}

.map-overlay-text, {
  color: white;
  font-family: Aller-Regular;
  font-size: 30px;
}

.map-controls {
  float: right;
  padding: 0;
  padding-left: 3%;
  padding-top: 48%;

  button {
    float: none;
  }
}

.zoom-out-icon,.zoom-in-icon {
  height: 60px;
  width: 60px;
}

.zoom-in-icon {
  background-image: url(../images/map-zoom-in-icon.png);
  background-repeat: no-repeat;
  margin-right: 25px;
}

.zoom-out-icon {
  background-image: url(../images/map-zoom-out-icon.png);
  background-repeat: no-repeat;
}

.close-icon {
  background-image: url(../images/map-close-icon.png);
  background-repeat: no-repeat;
  margin-left: 35px;
  height: 86px;
  width: 86px;
}

/*----Feature Page----*/
#feature-page {
  background-image: url(../images/mountain-bg.png);
  background-repeat: no-repeat;

  .video-icon, .image-icon, .song-icon, .album-icon {
    float: right;
    margin-right: 15px;
  }

  .media-preview-image {
    height: 225px;
  }

  .love-icon {
    background-image: url(../images/heart-feature.png);
    background-repeat: no-repeat;
  }

  .video-icon {
    background-image: url(../images/video-feature.png);
    background-repeat: no-repeat;
    height: 32px;
    width: 32px;
  }

  .image-icon {
    background-image: url(../images/image-feature.png);
    background-repeat: no-repeat;
    height: 32px;
    width: 36px;
  }

  .song-icon {
    background-image: url(../images/song-feature.png);
    background-repeat: no-repeat;
    height: 32px;
    width: 36px;
  }

  .album-icon {
    background-image: url(../images/album-feature.png);
    background-repeat: no-repeat;
    height: 32px;
    width: 38px;
  }

  #custom-play-pause-ui {
    position: absolute;
    bottom: 550px;
    left: 945px;
    font-size: 75px;
  }
}

.previous-icon {
  background-image: url(../images/previous-icon.png);
  background-repeat: no-repeat;
  height: 54px;
  width: 38px;
}

.next-icon {
  background-image: url(../images/next-icon.png);
  background-repeat: no-repeat;
  height: 54px;
  width: 44px;
}

.media-count {
  color: white;
  font-family: Aller-Light;
  font-size: 28px;
  margin-left: 20px;
  vertical-align: middle;
}

.media-content-wrapper {
  padding: 0px;
  position: relative;
}

.media-content-controls {
  position: absolute;
  top: 960px;
  left: 1720px;
}

.pagination-control {
  color: white;
  display: inline;
  font-family: Aller-Light;  
  font-size: 50px;
  float: right;
  margin-right: 40px;
  margin-top: 15px;
}

.arrow-right,.arrow-left {
  height: 58px;
  position: relative;
  top: 2px;
  width: 26px;
}

.arrow-right {
  background-image: url(../images/arrow-right.png);
  background-repeat: no-repeat;
}

.arrow-left {
  background-image: url(../images/arrow-left.png);
  background-repeat: no-repeat;
}

.page-number {
  padding: 0 50px;
}

#feature-video {
  padding: 0px;
}

.side-content {
  background-color: rgba(0,0,0,.5);
  height: 100%;
  padding: 150px 60px 209px 60px;
}

.primary-media-heading {
  font-family: Aller-Bold;
  font-size: 36px;
  color: #FFFFFF;
  line-height: 44px;
  margin-bottom: 40px;
}

.secondary-media-heading {
  font-family: Aller-Regular;
  font-size: 30px;
  color: #FFFFFF;
  line-height: 36px;
  margin-bottom: 30px;
}

.text {
  font-family: Aller-Regular;
  font-size: 30px;
  color: #FFFFFF;
  line-height: 36px; 
}
.subtext {
  font-family: Aller-LightItalic;
  font-size: 30px;
  color: #FFFFFF;
  line-height: 36px;
  margin-bottom: 160px;
}

.divider {
  border-top: 4px solid #FFFFFF;
  margin-top: 40px;
  margin-bottom: 50px;
}

#love-it {
  margin-left: 30px;
}

.media-toggle-list{
  padding: 0px;
  margin-bottom: 0px;
}

.media-toggle-item {
  background-color: rgba(255,255,255,0.2);
  padding: 0px;
}

.media-toggle-item-header {
  background-color: black;
  padding: 10px 0px; 
}

.media-label {
  color: white;
  font-family: Aller-Regular;
  font-size: 22px;
  line-height: 27px;
  padding-left: 20px;
  text-transform: uppercase;
  vertical-align: middle;
}

.video-icon {
  height: 27px;
  width: 27px;
}

.image-icon {
  height: 20px;
  width: 31px;
}

.song-icon {
  height: 26px;
  width: 30px;
}

.album-icon {
  height: 21px;
  width: 31px;
}

/*----Video Chat Page----*/
#caller {
  left: 1500px;
  position: absolute;
  top: 140px;
}

#called-person, #chat-info {
  padding: 0;
}

#called-person {
  height: 100%;
}

#chat-info {
  background-color: rgba(0,0,0,.85);
  height: 100%;
}

#chat-title {
  color: white;
  background-color: #f71919;
  font-family: Aller-Bold;
  font-size: 89px;
  margin-top: 196px;
  padding: 40px 90px;
  text-align: center;
  text-transform: uppercase;
}

#chat-text {
  color: white;
  font-family: Aller-Regular;
  font-size: 30px;
  padding: 50px 80px 90px;
}

#chat-date {
  color: white;
  font-family: Aller-Light;
  font-size: 50px;
  padding: 0px 90px 0px;
  margin-bottom: 0px;
}

#chat-time {
  color: white;
  font-family: Aller-Bold;
  font-size: 100px;
  padding-left: 90px;
  margin-top: 5px;
}

#chat-actions {
  padding: 90px 90px 60px;
}

.person-icon, .camera-icon {
  height: 91px;
  width: 91px;
}

.camera-icon {
  background-image: url(../images/videochat-icon.png);
  background-repeat: no-repeat;
}

.person-icon {
  background-image: url(../images/person-icon.png);
  background-repeat: no-repeat;
  margin-left: 20px;
}

/*----The App----*/
#the-app-page {
  background-image: url(../images/mountain-bg.png);
}

#app-promo {
  background-image: url(../images/mask.png);
  background-repeat: no-repeat;
  height: 1352px;
  padding: 0;
}

#promo-header {
  background-color: rgba(0,0,0,0.53);
  color: white;
  margin: 180px 0px 60px 575px;
  padding: 40px 50px 50px 100px;
  width: 1009px;
}

.alternate-font-header {
  font-family: Bembo;
  font-size: 120px;
  text-align: right;
  text-transform: uppercase;
  margin: 0;
}

.promo-title {
  font-family: Aller-Bold;
  font-size: 94px;
  text-transform: uppercase;
  text-align: right;
  margin: 0;
}

.animation-wrapper {
  margin-left: 575px;
}

#download {
  float: right;
  margin-right: 120px;
  margin-top: 35px;
  padding: 10px 20px;
}

.arrow-right-small {
  border: none;
  height: 17px;
  margin-left: 10px;
  width: 8px;
}

#scan {
  background-color: rgba(0,0,0,.5);
  height: 100%;
  padding: 0;
}

#first-scan-instruction {
  color: white;
  font-family: Aller-Bold;
  font-size: 40px;
  text-align: center;
  text-transform: uppercase;
  padding-top: 90px;
}

#second-scan-instruction {
  color: white;
  font-family: Aller-Regular;
  font-size: 80px;
  text-transform: uppercase;
  text-align: center;
  padding: 0px 200px 60px;
}

#continue {
  display: block;
  margin: 0 auto;
  padding: 10px 90px;
  text-align: center;
}

#phone-scan-img {
  display: block;
  margin: 0 auto;
  margin-bottom: 120px;
  text-align: center;
}

/*----Sort Page----*/
#sort-page {
  background-image: url(../images/forest-bg.png);
  background-repeat: no-repeat;

  .media-toggle-list {
    margin-top: 180px;
  }

  .media-label {
    font-size: 32px;
    line-height: 40px;
    padding-left: 30px;
    text-transform: capitalize;
  }

  .love-icon {
    background-image: url(../images/heart-sort.png);
    background-repeat: no-repeat;
    background-position-y: 3px;
    font-size: 12px;
    height: 39px;
    width: 41px;
  }

  .video-icon {
    background-image: url(../images/videos-icon.png);
    background-repeat: no-repeat;
    height: 34px;
    width: 34px;
  }

  .image-icon {
    background-image: url(../images/images-icon.png);
    background-repeat: no-repeat;
    height: 27px;
    width: 39px;
  }

  #sort-images .sort-menu-item-label {
    margin-left: 34px;
  }

  .song-icon {
    background-image: url(../images/songs-icon.png);
    background-repeat: no-repeat;
    height: 29px;
    width: 33px;
  }
}

.love-it {
  float: right;
  margin-right: 25px;
}

.sort-menu-wrapper {
  margin: 0;
  padding: 0;
  width: 490px;
}

#sort-menu {
  margin-top: 160px;
}

.sort-menu-item {
  font-family: Aller-Regular;
  font-size: 36px;
  color: #FFFFFF;
  line-height: 44px;
  padding: 15px 15px;
  text-transform: uppercase;
  width: 353px;
}

.sort-menu-item:hover, .sort-menu-item:active {
  background-color: rgba(255,255,255,0.44);
}

.sort-menu-item-label {
  margin-left: 40px;
}

.panaroma-icon {
  background-image: url(../images/panaromas-icon.png);
  background-repeat: no-repeat;
  height: 29px;
  width: 48px;
}

#sort-panaromas {
  .sort-menu-item-label {
    margin-left: 25px;
  } 
}

.media-preview-image {
  background-image: url('../images/dummy.png');
  height: 300px;
}

/*-----------------Modal Styles-----------------*/
/*----Sort Page Modal----*/
.modal-body {
  background-image: url(../images/video-dummy.png);
  background-repeat: no-repeat;
  height: 1157px;
  width: 1920px;
}

.modal {
  width: 2560px;
}

.modal-dialog {
  width: 100%;
}

.modal-body {
  margin: 170px auto;
  margin-bottom: 0px;
  padding: 0;
}

.modal-footer {
  border: none;
  padding: 0 30px 0 0;
}

.close {
  font-size: 77px;
  color: white;
  text-shadow: none;
  opacity: 1;
}

/*-----------------Fonts-----------------*/
@font-face {
    font-family: "Aller";
    src: url(fonts/Aller_Std_Rg.ttf) format("truetype");
}

@font-face {
    font-family: "Bembo";
    src: url(fonts/Bembo/BemboBookMTPro-Regular.otf) format("opentype");
}

/*-----------------Button Styles-----------------*/
button {
  color: white;
  font-family: "Aller";
  text-transform: uppercase;
}

.btn-main {
  background-color: #f71919;
  border-radius: 0px;
  color: white;
  font-size: 60px;
  padding: 10px 210px;
}
.btn-main:hover,
.btn-main:focus {
  background-color: white;
  color: #f71919;
}
.btn-main:active,
.btn-main.active {
  background-color: white;
  color: #f71919;
}
.btn-main:disabled,
.btn-main[disabled] {
  background-color: white;
  background-image: none;
  color: #f71919;
}

.btn-transparent {
  background-color: transparent;
  border-radius: 0px;
  color: white;
  font-family: Aller-Regular;
  font-size: 28px;
  line-height: 34px;
  padding: 0px;
  transition: all .2s ease-in-out;
}
.btn-transparent:hover,
.btn-transparent:focus {
  background-color: transparent;
  color: white;
  transform: scale(1.1);
}
.btn-transparent:active,
.btn-transparent.active {
  background-color: transparent;
  color: white;
  transform: scale(1.1);
}
.btn-transparent:disabled,
.btn-transparent[disabled] {
  background-color: transparent;
  color: white;
  background-image: none;
}

.btn-small {
  background-color: #f71919;
  border-radius: 0px;
  color: white;
  font-family: Aller-Regular;
  font-size: 24px;
  padding: 0px;
}
.btn-small:hover,
.btn-small:focus {
  background-color: white;
  color: #f71919;
}
.btn-small:active,
.btn-small.active {
  background-color: white;
  color: #f71919;
}
.btn-small:disabled,
.btn-small[disabled] {
  background-color: white;
  color: #f71919;
  background-image: none;
}