$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

/* General Styles */

body {
  padding:0;
  margin:0;
} // Space out content a bit

.container {
  width:2560px;
  height: 1440px;
  padding:0;
  margin:0;
} // Size of the kiosk display

header {
  background-color: black;
}

.ng-scope {
  height: 100%;
}

#page-title {
  color: white;
  display: inline;
  font-size: 45pt;
  font-family: "Aller";
  text-transform: uppercase;
  vertical-align: middle;
  position: relative;
  top: 10px;
}

/*-----------------Contextual Stles-----------------*/

/*----Intro Page Styles----*/
#intro-wrapper {
  background-image: url("../images/intro_bg.png");
  background-repeat: no-repeat;
  height: 100%;
}

#intro-video {
  display: block; 
  margin: 0 auto;
  padding-top: 190px;
}

#skip {
  display: block; 
  margin: 0 auto;  
}

/*----Video-Chat Page----*/
#caller {
  left: 1500px;
  position: absolute;
  top: 140px;
}

/*-----------------Fonts-----------------*/
@font-face {
    font-family: "Aller";
    src: url(fonts/Aller_Std_Rg.ttf) format("truetype");
}

/*-----------------Button Styles-----------------*/
button {
  font-family: "Aller";
  text-transform: uppercase;
  color: white;
}

.btn-main {
  background-color: #f71919;
  color: white;
  font-size: 55pt;
  border-radius: 0px;
  padding: 10px 210px;
}
.btn-main:hover,
.btn-main:focus {
  background-color: white;
  color: #f71919;
}
.btn-main:active,
.btn-main.active {
  background-color: white;
  color: #f71919;
}
.btn-main:disabled,
.btn-main[disabled] {
  background-color: white;
  background-image: none;
  color: #f71919;
}
 

