$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

/*-----------------General Styles-----------------*/

body {
  margin: 0;
  padding: 0;
} // Space out content a bit

.container {
  height: 1440px;
  margin: 0;
  padding: 0;
  width: 2560px;  
} // Size of the kiosk display

header {
  background-color: black;
}

.ng-scope {
  height: 100%;
}

#page-title {
  color: white;
  display: inline;
  font-size: 45pt;
  font-family: "Aller";
  position: relative;
  text-transform: uppercase;
  top: 10px;
  vertical-align: middle;
}

/*-----------------Contextual Page Styles-----------------*/

/*----Intro Page Styles----*/
#intro-wrapper {
  background-image: url("../images/intro_bg.png");
  background-repeat: no-repeat;
  height: 100%;
}

#intro-video {
  display: block; 
  margin: 0 auto;
  padding-top: 190px;
}

#skip {
  display: block; 
  margin: 0 auto;  
}

/*----Video Chat Page----*/
#caller {
  left: 1500px;
  position: absolute;
  top: 140px;
}

/*----The App----*/
#app-promo {
  background-image: url(../images/mask.png);
  background-repeat: no-repeat;
}

#promo-header {
  background-color: rgba(0,0,0,0.53);
  color: white;
  height: 295px;
  width: 1009px;
}

#scan {
}

/*----Sort Page----*/
#sort-page {
  background-image: url(../images/forest-bg.png);
  background-repeat: no-repeat;
}

/*-----------------Modal Styles-----------------*/
/*----Sort Page Modal----*/
.modal-body {
  background-image: url(../images/video-dummy.png);
  background-repeat: no-repeat;
  height: 1157px;
  width: 1920px;
}

.modal {
  width: 2560px;
}

.modal-dialog {
  width: 100%;
}

.modal-body {
  margin: 200px auto;
  margin-bottom: 0px;
}

.modal-footer {
  border: none;
}

.close {
  font-size: 77px;
  color: white;
  text-shadow: none;
  opacity: 1;
}

/*-----------------Fonts-----------------*/
@font-face {
    font-family: "Aller";
    src: url(fonts/Aller_Std_Rg.ttf) format("truetype");
}

/*-----------------Button Styles-----------------*/
button {
  color: white;
  font-family: "Aller";
  text-transform: uppercase;
}

.btn-main {
  background-color: #f71919;
  border-radius: 0px;
  color: white;
  font-size: 55pt;
  padding: 10px 210px;
}
.btn-main:hover,
.btn-main:focus {
  background-color: white;
  color: #f71919;
}
.btn-main:active,
.btn-main.active {
  background-color: white;
  color: #f71919;
}
.btn-main:disabled,
.btn-main[disabled] {
  background-color: white;
  background-image: none;
  color: #f71919;
}
 

