$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

@import "helpers";
@import "igal-styles";
/*-----------------General Styles-----------------*/

body {
  margin: 0;
  padding: 0;
} // Space out content a bit

.container {
  height: 1440px;
  margin: 0;
  padding: 0;
  width: 2560px;  
} // Size of the kiosk display

header {
  background-color: black;
}

.main-wrapper {
  height: 1352px;
}

.content-wrapper {
  padding: 0px;
  margin: 0px;
  height: 1352px;
}

#page-title {
  color: white;
  display: inline;
  font-size: 50px;
  font-family: Aller-Regular;
  left: 40px;  
  position: relative;
  text-transform: uppercase;
  top: 5px;
  vertical-align: middle;
}

.icon {
  background-color: white; //remove this once icon map is in
  border: 1px solid red; //remove this once icon map is in
  display: inline-block; 
}

.love-icon {
  background-color: red;
  font-family: Aller-Regular;
  font-size: 14px;
  height: 45px;
  line-height: 40px;
  vertical-align: middle;  
  width: 50px;
}

.map-icon {
  height: 48px;
  width: 58px;
  vertical-align: middle;
}

.button-label {
  vertical-align: middle;
  margin-left: 10px; 
}

.horizontal-list {
  padding-left: 0px;
}

.horizontal-list-item {
  display: inline;
}

ul {
  list-style: none;
}

/*-----------------Contextual Page Styles-----------------*/

/*Nation Page Styles*/
#nation-page {
  background-image: url(../images/mountain-bg.png);
  background-repeat: no-repeat;

  .media-label {
    font-size: 32px;
    line-height: 40px;
    padding-left: 30px;
    text-transform: capitalize;
  }

  .love-icon {
    font-size: 12px;
    height: 36px;
    width: 40px;
  }
}

#featured-media {
  margin-top: 220px;
}

.main-nav, .main-nav-item {
  padding: 0;

  .media-preview-image {
      height: 412px;
      //background-image: url(../images/nav-item.png);
      background-repeat: no-repeat;
  } 
}

.nav-item-label {
  color: white;
  font-family: Aller-Regular;
  font-size: 30px;
  height: 50%;
  padding-top: 32%;
  text-align: center;
  text-transform: uppercase;
}

/*----Slide Show Page Styles----*/

#slide-show-page {
  .alternate-font-header {
    text-align: center;
  }
}

#explore-header {
  color: white;
  background-color: #f71919;
  left: 785px;
  padding: 20px 0px;
  position: absolute;
  top: 1255px;
  width: 1000px;
  z-index: 5; 

  .promo-title {
    text-align: center; 
  }  
}

/*----Tour Page Styles----*/

#tour-page {
  background-image: url(../images/wall-bg.png);

  .media-toggle-list {
    background-color: rgba(255, 255, 255, 0.2);
    height: 100%;
  }

  .side-content {
    padding: 0;
  }

  .media-toggle-item {
    background-color: transparent;
    padding: 70px;
  }

  .media-preview-image {
    height: 245px;
  }

  .media-label {
    font-size: 26px;
    text-transform: capitalize;
  }

  .love-it {
    margin-right: 20px;
  }

  .love-icon {
    font-size: 10px;
    line-height: 27px;
    height: 27px;
    vertical-align: top;
    width: 30px;
  }

  .text {
    padding: 0 60px;
    margin-bottom: 230px;
  }
}

.connection-status {
  background-color: #47d0bc;
  color: white;
  font-family: Aller-Bold;
  font-size: 32px;
  margin: 0;
  text-transform: uppercase;
  text-align: center;
  padding: 10px;
}

.first-tour-instruction {
  color: white;
  font-family: Aller-bold;
  font-size: 36px;
  margin-top: 100px;
  margin-bottom: 20px;
  text-transform: uppercase;
  text-align: center;
}

.second-tour-instruction {
  color: white;
  font-family: Aller-Regular;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 70px;
}

.qr-phone {
  display: block;
  margin: 0 auto;
}

/*----Intro Page Styles----*/
#intro-wrapper {
  background-image: url("../images/intro_bg.png");
  background-repeat: no-repeat;
  height: 100%;
}

#intro-video {
  display: block; 
  margin: 0 auto;
  padding-top: 165px;
}

#skip {
  display: block; 
  margin: 0 auto;  
}

/*----Map Page----*/
#map-page {}
.full-screen-map {
  background-image: url(../images/map-colored.png);
  background-repeat: no-repeat;
  height: 100%;
  padding: 0;

  .love-it {
    float: none;
    margin-right: 0;
    margin-left: 92%;
  }
}

.map-overlay {
  background-color: rgba(2,2,2,0.7);
  height: 100%;  
  padding: 0;
}

.map-overlay-content {
  padding: 40px 60px;
}

.map-overlay-img {
  background-image: url(../images/map-overlay-image.png);
  background-repeat: no-repeat;
  height: 408px;
  margin-bottom: 20px;
}

.map-overlay-title {
  color: white;
  font-family: Aller-Bold;
  font-size: 36px;
  margin-top: 40px;
  margin-bottom: 20px;
  text-align: left;
  text-transform: capitalize;
}

.map-overlay-text, {
  color: white;
  font-family: Aller-Regular;
  font-size: 30px;
}

.map-controls {
  float: right;
  padding: 0;
  padding-left: 3%;
  padding-top: 48%;

  button {
    float: none;
  }
}

.zoom-out-icon,.zoom-in-icon {
  height: 60px;
  width: 60px;
}

.zoom-in-icon {
  margin-right: 25px;
}

.close-icon {
  height: 77px;
  width: 77px;
  margin-left: 55px;
}

/*----Feature Page----*/
#feature-page {
  background-image: url(../images/mountain-bg.png);
  background-repeat: no-repeat;

  .video-icon, .image-icon, .song-icon, .album-icon {
    float: right;
    margin-right: 15px;
  }

  .media-preview-image {
    height: 225px;
  }
}

.pagination-control {
  color: white;
  display: inline;
  font-family: Aller-Light;  
  font-size: 50px;
  float: right;
  margin-right: 40px;
  margin-top: 15px;
}

.arrow-right,.arrow-left {
  height: 48px;
  position: relative;
  top: 2px;
  width: 20px;
}

.page-number {
  padding: 0 50px;
}

#feature-video {
  padding: 0px;
}

.side-content {
  background-color: rgba(0,0,0,.5);
  height: 100%;
  padding: 150px 60px 209px 60px;
}

.primary-media-heading {
  font-family: Aller-Bold;
  font-size: 36px;
  color: #FFFFFF;
  line-height: 44px;
  margin-bottom: 40px;
}

.secondary-media-heading {
  font-family: Aller-Regular;
  font-size: 30px;
  color: #FFFFFF;
  line-height: 36px;
  margin-bottom: 30px;
}

.text {
  font-family: Aller-Regular;
  font-size: 30px;
  color: #FFFFFF;
  line-height: 36px; 
}
.subtext {
  font-family: Aller-LightItalic;
  font-size: 30px;
  color: #FFFFFF;
  line-height: 36px;
  margin-bottom: 160px;
}

.divider {
  border-top: 4px solid #FFFFFF;
  margin-top: 40px;
  margin-bottom: 50px;
}

#love-it {
  margin-left: 30px;
}

.media-toggle-list{
  padding: 0px;
  margin-bottom: 0px;
}

.media-toggle-item {
  background-color: rgba(255,255,255,0.2);
  padding: 0px;
}

.media-toggle-item-header {
  background-color: black;
  padding: 10px 0px; 
}

.media-label {
  color: white;
  font-family: Aller-Regular;
  font-size: 22px;
  line-height: 27px;
  padding-left: 20px;
  text-transform: uppercase;
  vertical-align: middle;
}

.video-icon {
  height: 27px;
  width: 27px;
}

.image-icon {
  height: 20px;
  width: 31px;
}

.song-icon {
  height: 26px;
  width: 30px;
}

.album-icon {
  height: 21px;
  width: 31px;
}

/*----Video Chat Page----*/
#caller {
  left: 1500px;
  position: absolute;
  top: 140px;
}

#called-person, #chat-info {
  padding: 0;
}

#called-person {
  height: 100%;
}

#chat-info {
  background-color: rgba(0,0,0,.85);
  height: 100%;
}

#chat-title {
  color: white;
  background-color: #f71919;
  font-family: Aller-Bold;
  font-size: 89px;
  margin-top: 196px;
  padding: 40px 90px;
  text-align: center;
  text-transform: uppercase;
}

#chat-text {
  color: white;
  font-family: Aller-Regular;
  font-size: 30px;
  padding: 50px 80px 90px;
}

#chat-date {
  color: white;
  font-family: Aller-Light;
  font-size: 50px;
  padding: 0px 90px 0px;
  margin-bottom: 0px;
}

#chat-time {
  color: white;
  font-family: Aller-Bold;
  font-size: 100px;
  padding-left: 90px;
  margin-top: 5px;
}

#chat-actions {
  padding: 150px 90px 60px;
}

.person-icon, .camera-icon {
  height: 90px;
  width: 90px; 
}

/*----The App----*/
#the-app-page {
  background-image: url(../images/mountain-bg.png);
}

#app-promo {
  background-image: url(../images/mask.png);
  background-repeat: no-repeat;
  height: 1352px;
  padding: 0;
}

#promo-header {
  background-color: rgba(0,0,0,0.53);
  color: white;
  margin: 180px 0px 60px 575px;
  padding: 40px 50px 50px 100px;
  width: 1009px;
}

.alternate-font-header {
  font-family: Bembo;
  font-size: 120px;
  text-align: right;
  text-transform: uppercase;
  margin: 0;
}

.promo-title {
  font-family: Aller-Bold;
  font-size: 94px;
  text-transform: uppercase;
  text-align: right;
  margin: 0;
}

#promo-video {
  margin-left: 575px;
}

#download {
  float: right;
  margin-right: 120px;
  margin-top: 35px;
  padding: 10px 20px;
}

.arrow-right-small {
  border: none;
  height: 17px;
  margin-left: 10px;
  width: 8px;
}

#scan {
  background-color: rgba(0,0,0,.5);
  height: 100%;
  padding: 0;
}

#first-scan-instruction {
  color: white;
  font-family: Aller-Bold;
  font-size: 40px;
  text-align: center;
  text-transform: uppercase;
  padding-top: 90px;
}

#second-scan-instruction {
  color: white;
  font-family: Aller-Regular;
  font-size: 80px;
  text-transform: uppercase;
  text-align: center;
  padding: 0px 200px 60px;
}

#continue {
  display: block;
  margin: 0 auto;
  padding: 10px 90px;
  text-align: center;
}

#phone-scan-img {
  display: block;
  margin: 0 auto;
  margin-bottom: 120px;
  text-align: center;
}

/*----Sort Page----*/
#sort-page {
  background-image: url(../images/forest-bg.png);
  background-repeat: no-repeat;

  .media-toggle-list {
    margin-top: 180px;
  }

  .media-label {
    font-size: 32px;
    line-height: 40px;
    padding-left: 30px;
    text-transform: capitalize;
  }

  .love-icon {
    font-size: 12px;
    height: 36px;
    width: 40px;
  }
}

.love-it {
  float: right;
  margin-right: 25px;
}

.sort-menu-wrapper {
  margin: 0;
  padding: 0;
  width: 490px;
}

#sort-menu {
  margin-top: 160px;
}

.sort-menu-item {
  font-family: Aller-Regular;
  font-size: 36px;
  color: #FFFFFF;
  line-height: 44px;
  padding: 15px 15px;
  text-transform: uppercase;
  width: 353px;
}

.sort-menu-item:hover, .sort-menu-item:active {
  background-color: rgba(255,255,255,0.44);
}

.sort-menu-item-label {
  margin-left: 40px;
}

.panaroma-icon {
  height: 25px;
  width: 45px;
}

#sort-panaromas {
  .sort-menu-item-label {
    margin-left: 25px;
  } 
}

.media-preview-image {
  background-image: url('../images/dummy.png');
  height: 300px;
}

/*-----------------Modal Styles-----------------*/
/*----Sort Page Modal----*/
.modal-body {
  background-image: url(../images/video-dummy.png);
  background-repeat: no-repeat;
  height: 1157px;
  width: 1920px;
}

.modal {
  width: 2560px;
}

.modal-dialog {
  width: 100%;
}

.modal-body {
  margin: 200px auto;
  margin-bottom: 0px;
}

.modal-footer {
  border: none;
}

.close {
  font-size: 77px;
  color: white;
  text-shadow: none;
  opacity: 1;
}

/*-----------------Fonts-----------------*/
@font-face {
    font-family: "Aller";
    src: url(fonts/Aller_Std_Rg.ttf) format("truetype");
}

@font-face {
    font-family: "Bembo";
    src: url(fonts/Bembo/BemboBookMTPro-Regular.otf) format("opentype");
}

/*-----------------Button Styles-----------------*/
button {
  color: white;
  font-family: "Aller";
  text-transform: uppercase;
}

.btn-main {
  background-color: #f71919;
  border-radius: 0px;
  color: white;
  font-size: 60px;
  padding: 10px 210px;
}
.btn-main:hover,
.btn-main:focus {
  background-color: white;
  color: #f71919;
}
.btn-main:active,
.btn-main.active {
  background-color: white;
  color: #f71919;
}
.btn-main:disabled,
.btn-main[disabled] {
  background-color: white;
  background-image: none;
  color: #f71919;
}

.btn-transparent {
  background-color: transparent;
  border-radius: 0px;
  color: white;
  font-family: Aller-Regular;
  font-size: 28px;
  line-height: 34px;
  padding: 0px;
  transition: all .2s ease-in-out;
}
.btn-transparent:hover,
.btn-transparent:focus {
  background-color: transparent;
  color: white;
  transform: scale(1.1);
}
.btn-transparent:active,
.btn-transparent.active {
  background-color: transparent;
  color: white;
  transform: scale(1.1);
}
.btn-transparent:disabled,
.btn-transparent[disabled] {
  background-color: transparent;
  color: white;
  background-image: none;
}

.btn-small {
  background-color: #f71919;
  border-radius: 0px;
  color: white;
  font-family: Aller-Regular;
  font-size: 24px;
  padding: 0px;
}
.btn-small:hover,
.btn-small:focus {
  background-color: white;
  color: #f71919;
}
.btn-small:active,
.btn-small.active {
  background-color: white;
  color: #f71919;
}
.btn-small:disabled,
.btn-small[disabled] {
  background-color: white;
  color: #f71919;
  background-image: none;
}

/*-----------------Icon Styles-----------------*/
.sort-icon {

            @include background-image-sb("iconsetgeneral", 1071px 1536px);
            background-position: -88px -568px;
            background-repeat: no-repeat;
            width: 156px;
            height: 129px;
            margin-left:230px;
            position: absolute;
            top:80px;

            // &:hover {
            //     background-position: -88px -588px;
            //     cursor: pointer;
            //     cursor: hand;
            // }

}

.soundscape-icon {

            @include background-image-sb("iconsetgeneral", 1071px 1536px);
            background-position: -287px -568px;
            background-repeat: no-repeat;
            width: 200px;
            height: 129px;
            margin-left:230px;
            position: absolute;
            top:80px;


}

.videocall-icon {

            @include background-image-sb("iconsetgeneral", 1071px 1536px);
            background-position: -521px -568px;
            background-repeat: no-repeat;
            width: 176px;
            height: 129px;
            margin-left:230px;
            position: absolute;
            top:80px;


}

.phone-icon {

            @include background-image-sb("iconsetgeneral", 1071px 1536px);
            background-position: -743px -568px;
            background-repeat: no-repeat;
            width: 156px;
            height: 129px;
            margin-left:230px;
            position: absolute;
            top:80px;


}