<div id="feature-page" class="row content-wrapper" data-ng-init="featureinit()">    
  <div class="col-md-9 content-wrapper">
    <div class="media-content-wrapper col-md-12">
  <div class="feature-content" >

  <div class="featureSlideshow" ng-if="updateFeatureSection('slideshow')">
    <slider images="images"  class="animated appear"></slider>
    </div>
    <div class="featureImage" ng-if="updateFeatureSection('image')">
      <div class="feature-media-image animated appear" ng-style="{ 'background-image' : 'url(images/exhibits/{{currentObject.media.coverimage}})' }" >
      </div>
    </div>

    <div class="featureVideo" ng-if="updateFeatureSection('video')" >
    <videogular vg-theme="config.theme" ng-class="getAnimationVideoStyle()" ng-if="updateFeatureSection('video')">
      <vg-video vg-src="config.sources">
      </vg-video>
      <vg-controls >
        <vg-play-pause-button></vg-play-pause-button>
        <vg-timedisplay>{{ currentTime | date:'mm:ss' }}</vg-timedisplay>
        <vg-scrubBar>
          <vg-scrubbarcurrenttime></vg-scrubbarcurrenttime>
        </vg-scrubBar>
        <vg-timedisplay>{{ timeLeft | date:'mm:ss' }}</vg-timedisplay>
        <vg-volume>
          <vg-mutebutton></vg-mutebutton>
          <vg-volumebar></vg-volumebar>
        </vg-volume>
        <vg-fullscreenButton></vg-fullscreenButton>
      </vg-controls>
      <vg-overlay-play></vg-overlay-play>
    </videogular>
    </div>
    
    <div class="media-content-controls animated appear delay-6x">
        <button type="button" id="previous" class="btn btn-transparent previous">
          <span class="icon previous-icon"></span>
        </button>
        <button type="button" id="next" class="btn btn-transparent next">
          <span class="icon next-icon"></span>
        </button>
        <span class="media-count">1/5</span>
      </div>
    </div>
    </div>
    <ul class="col-md-12 media-toggle-list " ng-class="getAnimationBottomStyle()"> 
      <li class="col-md-3 media-toggle-item">
        <div class="media-toggle-item-header" ng-style="getHeaderStyle('video')">
          <span class="media-label">video</span>  
          <span class="icon video-icon"></span>
        </div>
        <div class="media-preview-image" ng-class="getAnimationContentStyle()" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo" ng-style="{ 'background-image' : 'url(images/exhibits/{{currentObject.media.coverimagethumb}})' }" ng-click="showVideo()"></div>
      </li>
      <li class="col-md-3 media-toggle-item delay-1x" ng-class="getAnimationBottomStyle()">
        <div class="media-toggle-item-header" ng-style="getHeaderStyle('image')">
          <span class="media-label">image</span>
          <span class="icon image-icon"></span>
        </div>
        <div class="media-preview-image delay-1x" ng-class="getAnimationContentStyle()" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo" ng-style="{ 'background-image' : 'url(images/exhibits/{{currentObject.media.coverimagethumb}})' }" ng-click="showImage()"></div>
      </li>
      <li class="col-md-3 media-toggle-item delay-2x" ng-class="getAnimationBottomStyle()">
        <div class="media-toggle-item-header" ng-style="getHeaderStyle('song')">
          <span class="media-label">song</span>
          <span class="icon song-icon"></span>
        </div>
        <div class="media-preview-image delay-2x" ng-class="getAnimationContentStyle()" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo" ng-style="{ 'background-image' : 'url(images/exhibits/{{currentObject.media.coverimagethumb}})' }" ng-click="showSong()"></div>
      </li>
      <li class="col-md-3 media-toggle-item delay-3x" ng-class="getAnimationBottomStyle()">
        <div class="media-toggle-item-header" ng-style="getHeaderStyle('slideshow')">
          <span class="media-label">album</span>
          <span class="icon album-icon"></span>
        </div> 
        <div class="media-preview-image delay-3x" ng-class="getAnimationContentStyle()" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo" ng-style="{ 'background-image' : 'url(images/exhibits/{{currentObject.media.coverimagethumb}})' }" ng-click="showSlideshow()"></div> 
      </li>
    </ul>
  </div>
  <aside class="col-md-3 side-content" ng-class="getAnimationSideBarStyle()">
    <h1 class="primary-media-heading">{{currentObject.title}}</h1>
    <p class="text">Before there was anything, before the great flood had covered the earth and receded, before the animals walked the earth or the trees covered the land or the birds flew between the trees, even before the fish and the whales and seals swam in the sea, an old man llived in a house on the bank of a river with his only child, a daughter.</p>
    <div class="divider"></div>
    <div class="image-caption-wrapper animated fadeInUp delay-6x">
      <h2 class="secondary-media-heading">Image Caption</h2>
      <p class="subtext">Whether she was as beautiful as hemlock fronds against the spring sky at sunrise or as ugly as a sea slug doesn't really matter very much to this story.</p>
      <span class="photo-credit">Photo Credit</span>
    </div>
    <ul class="horizontal-list">
      <li class="horizontal-list-item">
        <button ng-click='getMap(0)' type="button" id="see-on-map" class="btn btn-transparent animated appear delay-8x">
          <span class="icon map-icon"></span>
          <span class="button-label">see it on the map</span>
        </button>
      </li>
      <li class="horizontal-list-item">
        <button type="button" id="love-it" class="btn btn-transparent">
          <span class="icon love-icon">100K</span> <!-- Igalcim you will insert the love count here  -->       
          <span class="button-label">love it</span>
        </button>
      </li>
    </ul>
  </aside>
</div>