<div class="row">
  <div class="col-md-9">
    <video id="feature-video" width="1922" class="col-md-12" controls><!-- Instert the video link here Igalcim -->
      <source src="videos/bunny.mp4" type="video/mp4">
    </video>
    <ul class="col-md-12">
      <li class="col-md-3">video</li>
      <li class="col-md-3">image</li>
      <li class="col-md-3">song</li>
      <li class="col-md-3">album</li>
    </ul>
  </div>
  <aside class="col-md-3">
    <h1>Media Heading</h1>
    <p>Before there was anything, before the great flood had covered the earth and receded, before the animals walked the earth or the trees covered the land or the birds flew between the trees, even before the fish and the whales and seals swam in the sea, an old man llived in a house on the bank of a river with his only child, a daughter.</p>
    <div class="divider"></div>
    <h2>Image Caption</h2>
    <p class="subtext">Whether she was as beautiful as hemlock fronds against the spring sky at sunrise or as ugly as a sea slug doesn't really matter very much to this story.</p>
    <ul>
      <li>
        <button type="button" id="see-on-map" class="btn btn-main">see it on the map</button>
      </li>
      <li>
        <button type="button" id="love-it" class="btn btn-main">love it</button>
      </li>
    </ul>
  </aside>
</div>