<div id="map-page" class="row content-wrapper">
	<div class="col-md-12 full-screen-map">
		<div class="col-md-4 map-overlay animated scaleUpFromLeft">
			<div class="map-overlay-content">
				<div class="map-overlay-img animated appear delay-2x"></div>
				<button type="button" id="" class="btn btn-transparent love-it">
					<span class="icon love-icon animated appear delay-6x">2.4K</span>
				</button>
				<h2 class="map-overlay-title animated appear delay-4x">Page Title</h2>
				<p class="map-overlay-text animated appear delay-4x">Before there was anything, before the great flood had covered the earth and receded, before the animals walked the earth or the trees covered the land or the birds flew between the trees, even before the fish and the whales and seals swam in the sea, an old man llived in a house on the bank of a river with his only child, a daughter. Whether she was as beautiful as hemlock fronds against the spring sky at sunrise or as ugly as a sea slug doesn't really matter very much to this story, which takes place mainly in the dark.</p>
			</div>
		</div>
		<div class="col-md-2 map-controls animated appear delay-8x">
		  <a class="pin" href="#">
			<span class="pin-info">VANCOUVER ISLAND</span>
		  </a>
		  <button type="button" id="zoom-in" class="btn btn-transparent zoom">
			<span class="icon zoom-in-icon"></span>
		  </button>
		  <button type="button" id="zoom-out" class="btn btn-transparent zoom">
			<span class="icon zoom-out-icon"></span>
		  </button>
		  <button type="button" id="close-btn" class="btn btn-transparent close">
			<span class="icon close-icon"></span>
		  </button>		  		  
		</div> 
	</div>
</div>