<div id="sort-page" class="row content-wrapper">
  <div class="col-md-3 sort-menu-wrapper">
    <ul id="sort-menu">
      <li class="sort-menu-item" id="sort-videos" model="sortFilter" ng-click="sortFilter = 'video'">
        <div class="sort-menu-item-wrapper">
          <span class="icon video-icon"></span>
          <span class="sort-menu-item-label">videos</span>
        </div>
      </li>
      <li class="sort-menu-item animated appear delay-1x" id="sort-images" model="sortFilter" ng-click="sortFilter = 'image'">
        <div class="sort-menu-item-wrapper">
          <span class="icon image-icon"></span>
          <span class="sort-menu-item-label">images</span>
        </div>
      </li>
      <li class="sort-menu-item animated appear delay-2x" id="sort-panaromas" model="sortFilter" ng-click="sortFilter = 'panaroma'">
        <div class="sort-menu-item-wrapper">
          <span class="icon panaroma-icon"></span>
          <span class="sort-menu-item-label">panaromas</span>
        </div>
      </li>
      <li class="sort-menu-item animated appear delay-3x" id="sort-songs" model="sortFilter" ng-click="sortFilter = 'song'">
        <div class="sort-menu-item-wrapper">
          <span class="icon song-icon"></span>
          <span class="sort-menu-item-label">songs</span>
        </div>      
      </li>
    </ul>
  </div>
  <ul class="col-md-9 media-toggle-list">

     <li  class="col-md-4 media-toggle-item repeat-item" model="sortFilter" ng-repeat="object in media | filter: {type: sortFilter}" ng-style="{ 'animation-delay': '{{$index/10}}s'  }">

      <div class="media-preview-image" ng-style="{ 'background-image' : 'url(images/exhibits/{{object.thumbnailfilename}})' }" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo" ng-click="callSection({{object.idkey}})"></div>
      <div class="media-toggle-item-header">
        <span class="media-label">{{object.title}}</span>
        <button type="button" id="" class="btn btn-transparent love-it">
          <span class="icon love-icon">{{object.likes}}</span>
        </button>
      </div>
    </li>             
  </ul>
</div>
<script type="text/javascript">//Igalcim modal js ile trigger edildiginden gormek icin bunu buraya yazmak durumunda kaldim sen js filelara integrate edersin
$('#exampleModal').on('show.bs.modal', function (event) {
  var button = $(event.relatedTarget) // Button that triggered the modal
  var recipient = button.data('whatever') // Extract info from data-* attributes
  // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
  // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
})
</script>
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-body">
      <div class="col-md-9 media-content"></div>
      <aside class="col-md-3 side-content animated scaleUpFromLeft">
        <h1 class="primary-media-heading">{{currentObject.title}}</h1>
        <p class="text">Before there was anything, before the great flood had covered the earth and receded, before the animals walked the earth or the trees covered the land or the birds flew between the trees, even before the fish and the whales and seals swam in the sea, an old man llived in a house on the bank of a river with his only child, a daughter.</p>
        <div class="divider"></div>
        <div class="image-caption-wrapper animated fadeInUp delay-6x">
          <h2 class="secondary-media-heading">Image Caption</h2>
          <p class="subtext">Whether she was as beautiful as hemlock fronds against the spring sky at sunrise or as ugly as a sea slug doesn't really matter very much to this story.</p>
          <span class="photo-credit">Photo Credit</span>
        </div>
      </aside>
    </div>
    <div class="modal-footer">
      <button type="button" id="" data-dismiss="modal" class="btn btn-transparent close">
        <span class="icon close-icon"></span>
      </button> 
<!--       <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button> -->
    </div>
  </div>
</div>