<div id="soundscape-page" class="row content-wrapper">
  <div class="col-md-3 sound-file">
    <div class="sound"></div>
    <div class="sound-controller"></div>
  </div>
  <div class="col-md-3 sound-file">
    <div class="sound"></div>
    <div class="sound-controller"></div>
  </div>
  <div class="col-md-3 sound-file">
    <div class="sound"></div>
    <div class="sound-controller"></div>
  </div>
  <div class="col-md-3 sound-file">
    <div class="sound"></div>
    <div class="sound-controller"></div>
  </div>
  <div class="col-md-3 sound-file">
    <div class="sound"></div>
    <div class="sound-controller"></div>
  </div>
  <div class="col-md-3 sound-file">
    <div class="sound"></div>
    <div class="sound-controller"></div>
  </div>
  <div class="col-md-3 sound-file">
    <div class="sound"></div>
    <div class="sound-controller"></div>
  </div>
  <div class="col-md-3 sound-file">
    <div class="sound"></div>
   <div class="sound-controller"></div>
  </div>
  <div class="col-md-3 sound-file">
    <div class="sound"></div>
    <div class="sound-controller"></div>
  </div>
  <div class="col-md-3 sound-file">
    <div class="sound"></div>
    <div class="sound-controller"></div>
  </div>
  <div class="col-md-3 sound-file">
    <div class="sound"></div>
    <div class="sound-controller"></div>
  </div>
  <div class="col-md-3 sound-file">
    <div class="sound"></div>
    <div class="sound-controller"></div>
  </div>    
</div>