<div class="row">
  <div class="col-md-3">
    <div class="sound"></div>
    <div class="sound-controller"></div>
  </div>
  <div class="col-md-3">
    <div class="sound"></div>
    <div class="sound-controller"></div>
  </div>
  <div class="col-md-3">
    <div class="sound"></div>
    <div class="sound-controller">sound controller</div>
  </div>
  <div class="col-md-3">
    <div class="sound"></div>
    <div class="sound-controller">sound controller</div>
  </div>
  <div class="col-md-3">
    <div class="sound"></div>
    <div class="sound-controller">sound controller</div>
  </div>
  <div class="col-md-3">
    <div class="sound"></div>
    <div class="sound-controller">sound controller</div>
  </div>
  <div class="col-md-3">
    <div class="sound"></div>
    <div class="sound-controller">sound controller</div>
  </div>
  <div class="col-md-3">
    <div class="sound"></div>
    <div class="sound-controller">sound controller</div>
  </div>
  <div class="col-md-3">
    <div class="sound"></div>
    <div class="sound-controller">sound controller</div>
  </div>
  <div class="col-md-3">
    <div class="sound"></div>
    <div class="sound-controller">sound controller</div>
  </div>
  <div class="col-md-3">
    <div class="sound"></div>
    <div class="sound-controller">sound controller</div>
  </div>
  <div class="col-md-3">
    <div class="sound"></div>
    <div class="sound-controller">sound controller</div>
  </div>    
</div>