<div id="the-app-page" class="row content-wrapper"> 
  <div id="app-promo" class="col-md-8">
    <div id="promo-header">
    	<h1 class="alternate-font-header">Explore</h1>
    	<h2 class="promo-title">The Haida Nation</h2>
    </div>
    <video id="promo-video" width="1009" height="568" controls><!-- Instert the video link here Igalcim -->
      <source src="videos/bunny.mp4" type="video/mp4">
    </video>
    <button type="button" id="download" class="btn btn-small">
      <span>Download the app</span>
      <span class="icon arrow-right-small"></span>
    </button>
  </div>
  <aside id="scan" class="col-md-4">
	  <h1 id="first-scan-instruction">To connect</h1>
	  <h2 id="second-scan-instruction">Scan the marker</h2>
	  <img id="phone-scan-img" src="images/phone-img.png" alt="qrcode" height="620" width="313">
    <button type="button" id="continue" class="btn btn-main">Continue</button>
  </aside>
</div>