<div id="tour-page" class="row content-wrapper">
    <ul class="col-md-9 media-toggle-list">
      <li class="col-md-4 media-toggle-item">
        <div class="media-preview-image" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo">
          <button type="button" id="add-media" class="btn btn-transparent">
            <span class="icon add-media-icon"></span>
          </button>
        </div>
        <div class="media-toggle-item-header">
          <span class="media-label">Haida Totem</span>
          <button type="button" id="" class="btn btn-transparent love-it">
            <span class="icon love-icon">2.4K</span>
          </button>
        </div>
      </li>
      <li class="col-md-4 media-toggle-item">
        <div class="media-preview-image" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo"></div>
        <div class="media-toggle-item-header">
          <span class="media-label">Salish Shaman Mask</span>
          <button type="button" id="" class="btn btn-transparent love-it">
            <span class="icon love-icon">10</span>
          </button>
        </div>
      </li>
      <li class="col-md-4 media-toggle-item">
        <div class="media-preview-image" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo"></div>
        <div class="media-toggle-item-header">
          <span class="media-label">Bella Coola Masks</span>
          <button type="button" id="" class="btn btn-transparent love-it">
            <span class="icon love-icon">10</span>
          </button>
        </div>
      </li>
      <li class="col-md-4 media-toggle-item">
        <div class="media-preview-image" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo"></div>
        <div class="media-toggle-item-header">
          <span class="media-label">Tlinglit Fishhooks</span>
          <button type="button" id="" class="btn btn-transparent love-it">
            <span class="icon love-icon">2.4K</span>
          </button>
        </div>
      </li>
      <li class="col-md-4 media-toggle-item">
        <div class="media-preview-image" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo"></div>
        <div class="media-toggle-item-header">
          <span class="media-label">Haida Canoe</span>
          <button type="button" id="" class="btn btn-transparent love-it">
            <span class="icon love-icon">10</span>
          </button>
        </div>
      </li>
      <li class="col-md-4 media-toggle-item">
        <div class="media-preview-image" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo"></div>
        <div class="media-toggle-item-header">
          <span class="media-label">Kwakiutl Wooden Mask</span>
          <button type="button" id="" class="btn btn-transparent love-it">
            <span class="icon love-icon">10</span>
          </button>
        </div>
      </li>
      <li class="col-md-4 media-toggle-item">
        <div class="media-preview-image" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo"></div>
        <div class="media-toggle-item-header">
          <span class="media-label">Tsimshian Dagger</span>
          <button type="button" id="" class="btn btn-transparent love-it">
            <span class="icon love-icon">2.4K</span>
          </button>
        </div>
      </li>
      <li class="col-md-4 media-toggle-item">
        <div class="media-preview-image" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo"></div>
        <div class="media-toggle-item-header">
          <span class="media-label">Salish Axe</span>
          <button type="button" id="" class="btn btn-transparent love-it">
            <span class="icon love-icon">10</span>
          </button>
        </div>
      </li>
      <li class="col-md-4 media-toggle-item">
        <div class="media-preview-image" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo"></div>
        <div class="media-toggle-item-header">
          <span class="media-label">Tlingit Fish Nets</span>
          <button type="button" id="" class="btn btn-transparent love-it">
            <span class="icon love-icon">10</span>
          </button>
        </div>
      </li>              
    </ul>
<!--   <aside class="col-md-3 side-content">
    <h1 class="primary-media-heading">{{currentObject.title}}</h1>
    <p class="text">Before there was anything, before the great flood had covered the earth and receded, before the animals walked the earth or the trees covered the land or the birds flew between the trees, even before the fish and the whales and seals swam in the sea, an old man llived in a house on the bank of a river with his only child, a daughter.</p>
    <div class="divider"></div>
    <h2 class="secondary-media-heading">Image Caption</h2>
    <p class="subtext">Whether she was as beautiful as hemlock fronds against the spring sky at sunrise or as ugly as a sea slug doesn't really matter very much to this story.</p>
    <ul class="horizontal-list">
      <li class="horizontal-list-item">
        <button type="button" id="see-on-map" class="btn btn-transparent">
          <span class="icon map-icon"></span>
          <span class="button-label">see it on the map</span>
        </button>
      </li>
      <li class="horizontal-list-item">
        <button type="button" id="love-it" class="btn btn-transparent">
          <span class="icon love-icon">100K</span> 
        </button>
      </li>
    </ul>
  </aside> -->
  <aside class="col-md-3 side-content">
    <h1 class="connection-status">Connected</h1>
    <h2 class="first-tour-instruction">Explore with your phone</h2>
    <p class="text">Before there was anything, before the great flood had covered the earth and receded, before the animals walked the earth or the trees covered the land. </p>
    <h2 class="second-tour-instruction">Place your phone here</h2>
    <img class="qr-phone" src="../images/qr-phone.png" alt="qrcode" height="620" width="313">
  </aside>
</div>