<div id="tour-page" class="row content-wrapper">
  <ul class="col-md-9 media-toggle-list">
    <li class="col-md-4 media-toggle-item animated scaleUpFromCenter">
      <div class="media-preview-image" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo">
        <button type="button" id="add-media" class="btn btn-transparent animated appear delay-8x">
          <span class="icon add-media-icon"></span>
        </button>
      </div>
      <div class="media-toggle-item-header">
        <span class="media-label">Haida Totem</span>
        <button type="button" id="" class="btn btn-transparent love-it">
          <span class="icon love-icon">2.4K</span>
        </button>
      </div>
    </li>
    <li class="col-md-4 media-toggle-item animated scaleUpFromCenter delay-1x">
      <div class="media-preview-image" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo">
        <button type="button" id="add-media" class="btn btn-transparent animated appear delay-9x">
          <span class="icon add-media-icon"></span>
        </button>
      </div>
      <div class="media-toggle-item-header">
        <span class="media-label">Salish Shaman Mask</span>
        <button type="button" id="" class="btn btn-transparent love-it">
          <span class="icon love-icon">10</span>
        </button>
      </div>
    </li>
    <li class="col-md-4 media-toggle-item animated scaleUpFromCenter delay-2x">
      <div class="media-preview-image" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo">
        <button type="button" id="add-media" class="btn btn-transparent animated appear delay-10x">
          <span class="icon add-media-icon"></span>
        </button>
      </div>
      <div class="media-toggle-item-header">
        <span class="media-label">Bella Coola Masks</span>
        <button type="button" id="" class="btn btn-transparent love-it">
          <span class="icon love-icon">10</span>
        </button>
      </div>
    </li>
    <li class="col-md-4 media-toggle-item animated scaleUpFromCenter delay-3x">
      <div class="media-preview-image" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo">
        <button type="button" id="add-media" class="btn btn-transparent animated appear delay-11x">
          <span class="icon add-media-icon"></span>
        </button>
      </div>
      <div class="media-toggle-item-header">
        <span class="media-label">Tlinglit Fishhooks</span>
        <button type="button" id="" class="btn btn-transparent love-it">
          <span class="icon love-icon">2.4K</span>
        </button>
      </div>
    </li>
    <li class="col-md-4 media-toggle-item animated scaleUpFromCenter delay-4x">
      <div class="media-preview-image" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo">
        <button type="button" id="add-media" class="btn btn-transparent animated appear delay-12x">
          <span class="icon add-media-icon"></span>
        </button>
      </div>
      <div class="media-toggle-item-header">
        <span class="media-label">Haida Canoe</span>
        <button type="button" id="" class="btn btn-transparent love-it">
          <span class="icon love-icon">10</span>
        </button>
      </div>
    </li>
    <li class="col-md-4 media-toggle-item animated scaleUpFromCenter delay-5x">
      <div class="media-preview-image" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo">
        <button type="button" id="add-media" class="btn btn-transparent animated appear delay-13x">
          <span class="icon add-media-icon"></span>
        </button>
      </div>
      <div class="media-toggle-item-header">
        <span class="media-label">Kwakiutl Wooden Mask</span>
        <button type="button" id="" class="btn btn-transparent love-it">
          <span class="icon love-icon">10</span>
        </button>
      </div>
    </li>
    <li class="col-md-4 media-toggle-item animated scaleUpFromCenter delay-6x">
      <div class="media-preview-image" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo">
        <button type="button" id="add-media" class="btn btn-transparent animated appear delay-14x">
          <span class="icon add-media-icon"></span>
        </button>
      </div>
      <div class="media-toggle-item-header">
        <span class="media-label">Tsimshian Dagger</span>
        <button type="button" id="" class="btn btn-transparent love-it">
          <span class="icon love-icon">2.4K</span>
        </button>
      </div>
    </li>
    <li class="col-md-4 media-toggle-item animated scaleUpFromCenter delay-7x">
      <div class="media-preview-image" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo">
        <button type="button" id="add-media" class="btn btn-transparent animated appear delay-15x">
          <span class="icon add-media-icon"></span>
        </button>
      </div>
      <div class="media-toggle-item-header">
        <span class="media-label">Salish Axe</span>
        <button type="button" id="" class="btn btn-transparent love-it">
          <span class="icon love-icon">10</span>
        </button>
      </div>
    </li>
    <li class="col-md-4 media-toggle-item animated scaleUpFromCenter delay-8x">
      <div class="media-preview-image" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo">
        <button type="button" id="add-media" class="btn btn-transparent animated appear delay-16x">
          <span class="icon add-media-icon"></span>
        </button>
      </div>
      <div class="media-toggle-item-header">
        <span class="media-label">Tlingit Fish Nets</span>
        <button type="button" id="" class="btn btn-transparent love-it">
          <span class="icon love-icon">10</span>
        </button>
      </div>
    </li>              
  </ul>
  <aside class="col-md-3 side-content animated scaleUpFromLeft">
    <h1 class="connection-status animated delay-24x appear">Connected</h1>
    <h2 class="first-tour-instruction animated appear delay-17x">Explore with your phone</h2>
    <p class="text animated appear delay-18x">Before there was anything, before the great flood had covered the earth and receded, before the animals walked the earth or the trees covered the land. </p>
    <h2 class="second-tour-instruction animated appear delay-21x">Place your phone here</h2>
    <div class="phone-wrapper">
      <img class="disconnect animated appear delay-26x" src="../images/disconnect.png" alt="qrcode" height="142" width="298">
      <img class="qr-phone animated appear delay-23x" src="../images/qr-phone.png" alt="qrcode" height="620" width="313">
    </div>
  </aside>
</div>