<div id="tour-page" class="row">
  <ul class="col-md-9">
    <li class="col-md-4">
      <div class="media-preview-image" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo"> media image</div>
      <span>Haida Totem</span>
      <button type="button" id="" class="btn btn-love"></button>
    </li>
    <li class="col-md-4">
      <div class="media-preview-image" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo"> media image</div>
      <span>Salish Shaman Mask</span>
      <button type="button" id="" class="btn btn-love"></button>
    </li>
    <li class="col-md-4">
      <div class="media-preview-image" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo"> media image</div>
      <span>Bella Coola Masks</span>
      <button type="button" id="" class="btn btn-love"></button>
    </li>
    <li class="col-md-4">
      <div class="media-preview-image" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo"> media image</div>
      <span>Tlinglit Fishhooks/span>
      <button type="button" id="" class="btn btn-love"></button>
    </li>    
    <li class="col-md-4">
      <div class="media-preview-image" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo"> media image</div>
      <span>Haida Canoe</span>
      <button type="button" id="" class="btn btn-love"></button>
    </li>
    <li class="col-md-4">
      <div class="media-preview-image" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo"> media image</div>
      <span>Kwakiutl Wooden Mask</span>
      <button type="button" id="" class="btn btn-love"></button>
    </li>   
    <li class="col-md-4">
      <div class="media-preview-image" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo"> media image</div>
      <span>Tsimshian Dagger</span>
      <button type="button" id="" class="btn btn-love"></button>
    </li>
    <li class="col-md-4">
      <div class="media-preview-image" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo"> media image</div>
      <span>Salish Axe</span>
      <button type="button" id="" class="btn btn-love"></button>
    </li>
    <li class="col-md-4">
      <div class="media-preview-image" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo"> media image</div>
      <span>Tlingit Fish Nets</span>
      <button type="button" id="" class="btn btn-love"></button>
    </li>
  </ul>
  <aside class="col-md-3">
    <h1>Connected</h1>
    <h2>Explore with your phone</h2>
    <p>Before there was anything, before the great flood had covered the earth and receded, before the animals walked the earth or the trees covered the land. </p>
    <h2>Place your phone here</h2>
    <img src="" alt="qrcode" height="620" width="313">
  </aside>
</div>