<div class="row">
  <video id="called-person" class="col-md-9" width="1922" controls><!-- Instert the video link here Igalcim -->
    <source src="videos/bunny.mp4" type="video/mp4">
  </video>
  <video id="caller" width="358" controls><!-- Instert the video link here Igalcim -->
    <source src="videos/bunny.mp4" type="video/mp4">
  </video>
  <aside class="col-md-3">
    <h1>Chat with Haida</h1>
    <p>Before there was anything, before the great flood had covered the earth and receded, before the animals walked the earth or the trees covered the land </p>
    <h2>Next Wednesday</h2>
    <h3>3.00 PM</h3>
    <ul>
      <li>Camera Icon</li>
      <li>Add Person Icon</li>
    </ul>
  </aside>
</div>